* {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  background-color: antiquewhite;
  color: brown;
  font-size: 36px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-form {
  position: fixed;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
}
